<style>
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --jaune: #f2c632;
  --violet: #381d5e;
  --blgris: #c4dad6;
  --violetclr: #857e95;
  --marron: #8a6124;
  --rouge: #d04a3f;  
  --bleu: #1b3d85;
  --gris: #cdcccc;
  --grisfoncé: #545454;
}

   header {
    border-bottom: 2px var(--jaune) solid;
    color: black;
    position: static;
    height: 20vh;
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 15px
    
  }

  /* Styles supplémentaires pour les éléments à l'intérieur du header */

  .logo {
    margin-top: 10px;
    font-family: 'Bebas Neue',sans-serif
  }

  #logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color:var(--rouge);
    
    
  }

 .links {
  display: flex;
  gap: 30px; /* Augmenté pour plus d'espace entre les liens */
  margin-top: 15px;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  position: relative;
  display: inline-block;
  padding: 5px 10px; /* Ajout de padding pour plus d'espace */
  transition: all 1s ease; /* Ajout de la transition */
}

.links a span.icon,
.links a span.text {
  transition: opacity 1s ease, display 1s ease; /* Transition pour l'apparition/disparition */
}

.links a span.text {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.links a:hover span.icon {
  opacity: 0;
}

.links a:hover span.text {
  opacity: 1;
  color:rgb( 0 , 0 , 0)
}

.icon {
  color: var(--rouge)
}
</style>


<header>
  <section class="logo">
    <a id="logo" href="{{ path('front_home_index') }}">WWA!</a>
  </section>
  <section class="links">
    <a href="{{ path('front_home_index') }}">
      <span class="icon" uk-icon="home"></span>
      <span class="text">Accueil</span>
    </a>
      
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('admin_dashboard_index') }}">
        <span class="icon" uk-icon="settings"></span>
        <span class="text">Dashboard</span>
      </a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED') %}
      <a href="{{ path('front_profile_index') }}">
        <span class="icon" uk-icon="user"></span>
        <span class="text">Profil</span>
      </a>
      <a href="{{ path('front_auth_logout') }}">
        <span class="icon" uk-icon="sign-out"></span>
        <span class="text">Déconnexion</span>
      </a>
    {% else %}
      <a href="{{ path('front_auth_index') }}">
        <span class="icon" uk-icon="sign-in"></span>
        <span class="text">Connexion</span>
      </a>
      
    {% endif %}
    <a href="{{ path('front_cart_index') }}">
      <span class="icon" uk-icon="cart"></span>
      <span class="text">Panier</span>
    </a>
  </section>
</header>