{% extends 'base.html.twig' %}

{% block title %}WE WANT ALL ! - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .video {
            position: relative;
            z-index: -2;
            width: 100%;
            height: 100vh; 
            overflow: hidden;
        }
        
        video {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start; 
            padding: 20px;
            
        }
        
        
        .logo-link {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    color: #d04a3f;
    text-decoration: none;
    transition: color 1s ease;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: 900;
}


.logo-link:hover {
    color: white;
    text-decoration: none
}


        
        .nav-links {
            margin-top: 20px;
            margin-left: 20px;
            text-align: left;
            
            
        }
        
        .nav-links a {
            display: block;
            margin: 30px 0;
            color: white;
            text-decoration: none;
            font-size: 19px;
         font-family: 'Inter',sans-serif;
        }
        .uk-text_large{
            text-align: center;


        }

      
        
    </style>
{% endblock %}

{% block body %}
    <main>
        <section class="video">
            <video autoplay loop muted playsinline>
                <source src="{{ asset('video/index_video.mp4') }}" type="video/mp4">
            </video>
        </section>
        
        <div class="content">
            <h1><a  href="{{ path('front_home_index') }}" class="logo-link" >WE WANT ALL!</a></h1>
            
            <nav class="nav-links">
                <a href="{{ path('front_products_list') }}">Store</a>
                <a href="{{ path('front_auth_index') }}">Se connecter/Inscription</a>
                <a href="{{ path('front_contact') }}">À propos de nous</a>
                <a href="{{ path('front_home_terms_conditions') }}">Conditions du site</a>
            </nav>
        </div>
    </main>
{% endblock %}

